set default=0
set timeout=5

menuentry "Ion Linux (x86_64, UEFI)" {
    set gfxpayload=keep
    linux /ion/boot/x86_64/vmlinuz-linux archisobasedir=ion archisolabel=ION
    initrd /ion/boot/x86_64/initramfs-linux.img
}

menuentry "Ion Linux (x86_64, UEFI, safe graphics)" {
    set gfxpayload=keep
    linux /ion/boot/x86_64/vmlinuz-linux archisobasedir=ion archisolabel=ION nomodeset
    initrd /ion/boot/x86_64/initramfs-linux.img
}
