[Unit]
Description=Create live session user
Before=ly@tty2.service display-manager.service
After=systemd-sysusers.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/useradd -m -G wheel,video,render -s /bin/zsh liveuser
ExecStart=/bin/bash -c 'echo "liveuser:live" | chpasswd'
ExecStart=/bin/bash -c 'sudo -u liveuser dbus-launch gsettings set org.gnome.desktop.interface icon-theme "Sours"'
ExecStart=/bin/bash -c 'sudo -u liveuser dbus-launch gsettings set org.gnome.desktop.interface gtk-theme "Sweet-Ambar-Blue-Dark"'

[Install]
WantedBy=multi-user.target
