[Unit]
Description=Create live session user
Before=ly@tty2.service display-manager.service
After=systemd-sysusers.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/useradd -m -G wheel,video,render -s /bin/bash liveuser
ExecStart=/bin/bash -c 'echo "liveuser:live" | chpasswd'

[Install]
WantedBy=multi-user.target
